body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: rgb(250, 212, 218);
}

header {
    background-color: pink;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    background-color: rgb(216, 153, 162);
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: pink;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid rgb(255, 116, 139);
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    background-color: pink;
    color: rgb(216, 153, 162);
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color:pink;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: pink;
    color: #fff;
}